/* Reset de estilos básicos */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  background-color: #007B2A;
  color:white;
  padding: 10px;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #008F39; /* Cambio de color */
  color: white;
  padding: 20px;
  text-align: center;
}

section.product {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.product-info {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info img {
  max-width: 100%;
  height: auto;
}

.product-info p {
  font-size: 16px;
  margin: 10px 0;
}

.product-info a {
  display: block;
  background-color: #008F39; /* Cambio de color */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.product-info a:hover {
  background-color: #007B2A; /* Cambio de color en hover */
}

section.social-media {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

iframe {
  width: 45%;
  height: 300px;
  border: none;
}

footer {
  background-color: #008F39; /* Cambio de color */
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color:black; /* Cambio de color */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


